@import url(~/assets/css/font/poppins.css);

html, body {
  width: 100%;
  height: 100%;
  background: #f4f8fb;
  font-family: Roboto, 'Microsoft JhengHei', sans-serif;
}

body {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #bfbfbf;
}

input::-moz-placeholder {
  color: #bfbfbf;
}

input:-moz-placeholder {
  color: #bfbfbf;
}

input:-ms-input-placeholder {
  color: #bfbfbf;
}

.np-addon-style {
  /*opacity: .85;*/
}

.np-search {
  width: 100%;
  height: 50px;
  margin: 0.125em auto;
  text-align: center;

  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  box-sizing: border-box;
  border-radius: .5rem;
  transition: all .3s ease;
}

.np-search:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .09), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .06);
}

.np-search-btn {
  letter-spacing: .5em;
  font-weight: bold;
  text-align: center;
  margin-top: 1.25rem;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  padding: 1rem;
  background-color: #249ffd;
  outline: none;
  border: none;
  box-shadow: 0 0.5rem 0.625rem rgba(36, 159, 253, .3);
  box-sizing: border-box;
  border-radius: .5rem;
  transition: all .3s ease;
}

.np-search-btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}

/* settings */
.setting-block {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  border: 1px solid #C8C8C8;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.setting-block .setting-block-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.setting-block .setting-block-icon {
  position: absolute;
  top: 0;
  right: 12px;
  color: rgba(0, 0, 0, .05);
}

.setting-block .setting-block-icon i {
  font-size: 5rem;
}

.setting-block .setting-block-actions {
  display: block;
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
}

/* Customized from MDUI */

.mdui-dialog {
  border-radius: 10px;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  transition: all .3s;
}

.mdui-btn-border {
  border: 1px solid #505050;
  border-radius: 2px;
}
