html, body {
  background: #f4f8fb;
  font-family: Roboto, 'Microsoft JhengHei', sans-serif;
}

input::-webkit-input-placeholder {
  color: #bfbfbf;
}

input::-moz-placeholder {
  color: #bfbfbf;
}

input:-moz-placeholder {
  color: #bfbfbf;
}

input:-ms-input-placeholder {
  color: #bfbfbf;
}

.np-search {
  width: 100%;
  height: 50px;
  margin: 0.125em auto;
  text-align: center;

  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  box-sizing: border-box;
  border-radius: .5rem;
  transition: all .3s ease;
}

.np-search:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .09), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .06);
}

.np-search-btn {
  letter-spacing: .5em;
  font-weight: bold;
  text-align: center;
  margin-top: 1.25rem;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  padding: 1rem;
  background-color: #249ffd;
  outline: none;
  border: none;
  box-shadow: 0 0.5rem 0.625rem rgba(36, 159, 253, .3);
  box-sizing: border-box;
  border-radius: .5rem;
  transition: all .3s ease;
}

.np-search-btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}
